<!DOCTYPE html>
<html>
<head>
  <title>The_Framework (Assassin game)</title>
  <script src='{{ url_for('static', filename='jquery.min.js') }}'></script>
  <script src='{{ url_for('static', filename='socket.io.min.js') }}'></script>
  <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='style.css') }}'>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
  <div id='forbidden'>
    <p class="title">403_Forbidden</p>

    <div class='center'>
      <p>Are you the Director?</p>
    </div>
  </div>
</body>

<script src='{{ url_for('static', filename='index.js') }}'></script>
</html>
