<!DOCTYPE html>
<html>
<head>
  <title>The_Framework</title>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
  <p class="title">The_Framework</p>

  <div class='center' id='buttons'>
    <button onclick='show_login();' id='show_login_button'  class='vis_animation' style="opacity:1;">Login</button>
  </div>

  <div class='center vis_animation' id='login_div' style="opacity:0;">
    <form onsubmit="return false;">
      Username:<br><input type="text" id='userbox' /><br><br>
      Password:<br><input type="password" id='pwdbox' /><br><br>
      <button onclick="login()">Log In</button>
    </form>
  </div><br>

  <p class='center'><a href="https://en.wikipedia.org/wiki/Assassin_(game)" target="_blank">What is this for?</a></p>
</body>

<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
