<!DOCTYPE html>
<html>
<head>
  <title>The_Framework</title>
  <script src='{{ url_for('static', filename='jquery.min.js') }}'></script>
  <script src='{{ url_for('static', filename='socket.io.min.js') }}'></script>
  <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='style.css') }}'>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
  <p class="title">The_Framework</p>

  <div class='center' id='buttons'>
    <button onclick='login();'>Login</button>
  </div>

  <div class='center' id='login_div' hidden>
    Username:<br><input type="text"></input><br><br>
    Password:<br><input type="password"></input>
  </div>
</body>

<script src='{{ url_for('static', filename='index.js') }}'></script>
</html>
